
body {
  overflow: hidden; /* This will prevent scrolling */
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@tailwind base;
@tailwind components;
@tailwind utilities;

.Btn {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right,#ee3d11,#ff1313,#ff0202,#0e0a02,#ffc527,#fdd625);
  background-size: 250%;
  background-position: left;
  color: #faeb21;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
}

.Btn::before {
  position: absolute;
  color: #fae524;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 90%;
  border-radius: 8px;
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.842);
  background-size: 200%;
}

.Btn:hover {
  background-position: right;
  transition-duration: 1s;
}

.Btn:hover::before {
  background-position: right;
  transition-duration: 1s;
}

.Btn:active {
  transform: scale(0.95);
}

.herobg{
  background-image: url(/public/bg1.png);
  background-position: center center;
  padding-bottom:30em;
  background-repeat: no-repeat;
  background-size: cover;
  
}
